/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
  2.1 - MAXIMUM width of 720 pixels (phones landscape)
  2.2 - MAXIMUM width of 350 pixels (phones portrait)
  2.3 - MINIMUM width of 721 pixels (tablets+)
  2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/
 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
.entry-content, .entry-content p {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26px;
  color: rgb(47,47,47);
  max-width: 800px;
  margin: 0 auto;
}


#challenge-block .square {
  float: left;
  position: relative;
  width: 16%;
  /* = width for a 1:1 aspect ratio */
  margin: 1.66%;
  background-color: #65AA55;
  overflow: hidden;
  background-size: cover; 
   -webkit-transition: background-color 2s;
  transition: background-color 2s;
  }

#challenge-block .square:hover {
    background-color: #000;
  }

#challenge-block .content {
  position: absolute;
  height: 90%;
  /* = 100% - 2*5% padding */
  width: 90%;
  /* = 100% - 2*5% padding */
  padding: 5%; }

#challenge-block .table {
  display: table;
  width: 100%;
  height: 100%; }

#challenge-block .table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

#challenge-block .assignment_no {
  font-size: 8vw;
  color: #fff; 
  display: inline;
  -webkit-transition: color 2s;
  transition: color 2s;
}

#challenge-block .assignment_no:hover {
   color: #65AA55;
}

#challenge-block {
  display: inline-block;
  width: 100%;
  margin-left: 20px;
}  



/*first page spacing stuff*/

.panel-grid:first-child {
    margin-top:0px;
    padding-top:0px;
}

body.page-template-front-page.page:not(.buddypress) .site-content article:not(.comment) {
 padding-top: 0;   
}

.home article {
 padding-top: 0 !important;
 padding-bottom: 0 !important;
}

.whitespace{
  height:0px;
}


/*drop headers on regular pages*/
/*customize single pages*/
.anth-kill {
  display: none !important;
}

.anth .cover-content { 
  background-color: #424242;
}


.anth .entry-title {
  display: none;
}

.anth .entry-meta {
  background-color: rgba(0,0,0,0.3);
  padding: 6px;
  margin-top: 0;
  box-shadow: none;
}

.anth .post-title {
  padding: 6px;
  background-color: rgba(0,0,0,0.3);
  margin-bottom: 0;
  width: 98%;
  border-bottom: none;
  box-shadow: none;
}


/*FULL Function ARCHIVE-ISH page*/

.flex-container {
      display: flex; /* I now declare this as a flex-container */
      display: -webkit-flex; /* This is the Chrome notation */  
      min-height: 260px;
      flex-flow: row wrap;
      float: left;
    }

  .flex-item {
      padding: 2px;
      margin-top: 10px;
      color: white;
      font-weight: bold;
      font-size: 3em;
      text-align: center;
    }  

  .flex-item h2 {
    color: #fff;
    display: inline-block;
    margin-top: 70%;
    margin-left: 4px;
    font-weight: 200;
    background-color: rgba(0,0,0,.3);
    width: 93%;
  }  

   .flex-item article {
    padding: 0 !important;
   } 


   .anth-fav {
    font-size: 12px;
    text-align: left;
   }

   .anth-fav .sl-wrapper {
    margin-bottom: 4px;
   }

   .anth-author {
    color: #737373;
    font-size: 12px;
    text-align: left;    
   }

   .anth-excerpt, .anth-excerpt p {
    padding: 0 20px 0 0;
    max-height: 140px;
    overflow: hidden;
    font-size: 12px;
    line-height: 17px;
  }   

   
   .anth-thumb {
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;  
    background-size: cover;
    background-repeat: no-repeat;   
    background-position: center;  
   }

   .anth-prev-next-posts {
    width: auto;
    margin: 0 auto;
    text-align: center;
   }

   .anth-posts-link {
    padding: 3px 7px;
    margin: 10px;
    border: 1px solid #efefef;
   }

   .anth-posts-link:hover {
    background-color: #efefef;
   }

   .entry-meta .author.vcard a,  .entry-meta .author.vcard a:hover, .entry-meta .post-date, .entry-meta .post-date:hover, .entry-meta .comments-link, .leave-reply{
    color: #fff;
   }

   /*SOCIAL SHARE LINKS*/
   .anth-share-header{
    display: block;
    font-weight: 100; 
    margin: 5px auto;
    color: #424242;
    width: 80%;
    padding: 5px 7px;
    border: 1px solid #efefef;
    text-align: center;
    font-size: 2em;
   }

   .anth-share-header:hover {
    background-color: #efefef;
   }

   .anth-social {
    display: none;
    padding: 5px 7px;
    border: 1px solid #efefef;
    margin: 5px auto;
    width: 80%;
    font-size: 1.5em;
    text-align: center;
   }

   .anth-link {
    margin-right: 9px;
   }

/*CLAN POSTS*/



/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {


.sap-post-container {
    display: inline-block;
    margin-left:0;
  }


.anth .entry-meta {
  display: block;
  margin-bottom: 20px;
  background-color: rgba(0,0,0,0.3);
}


.anth-thumb {   
    margin-left: -35px;
    margin-right: -10px;
     background-repeat: no-repeat;  
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center;   
   }    

.anth-excerpt {
    padding: 8px 20px 5px 0;
    max-height: 140px;
    overflow: hidden;
    font-size: 12px;
  }   

.anth .post-title {
  margin-left: 0px;
  font-size: 3.2vh;  
}

.cover-content {
    padding-top: 50%;
    padding-right: 25%;
    margin: 0 auto;
  }

/* sharing buttons */
.anth-social {
  font-size: 2.5em;  
  }

.anth-share-header{
  font-size: 2.5em;
}  

.anth-link {
    margin-right: 12px;
   }



}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.2 - MAXIMUM width of 350 pixels (phones portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 370px) {


  #challenge-block {
    margin-left: 10px;
  }
  .entry-content, .entry-content p {
    font-size: 12px;
  }

  .flex-container {
    width: 100%;
  }

 .flex-item {
      width: 370px;
      padding: 2px 15px;
      margin-left: -35px;
    }   

  .anth-excerpt {
    max-height: 140px;
    overflow: hidden;
  }

  body.single-post h1.main-title {
    padding-left: 20px;
  }

  .cover-content {
    width:360px;
    height: 360px;
    margin: 0 auto;
  }

/*CLAN POSTS*/

  

}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.3 - MINIMUM width of 721 pixels (tablets+)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


.clan-posts {
  margin-left: -80px !important;
  margin-right: -80px;
}

}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
@media screen and (min-width: 1040px)  {

.type-post {
    width: 720px;
    margin: 0 auto;
}


/*customize single pages*/
.anth-kill {
  display: none !important;
}

.anth .cover-content {
  width: 720px;
  height: 720px;
  margin: 0 auto;
}

.anth .post-title {
  margin-top: 75%;
  margin-left: 1px;
  font-size: 2.2vw;  
}

.anth .entry-meta {
  display: block;
  margin-bottom: 20px;
  padding-bottom: 10px;
  display: block;
  background-color: rgba(0,0,0,0.3);
}

.anth .entry-content {
  padding-top: 40px;  
}

.anth .site-content {
  padding: 40px 70px 26px;
}

.flex-container {
    margin-left: -40px;
}

.flex-item {
      width: 260px;          
    }  

.anth-thumb {
    height: 260px;
    width: 260px;
     background-repeat: no-repeat;  
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center; 
   }
 .anth-excerpt {
    max-height: 140px;
    overflow: hidden;
  }
 }  

}/* don't delete this closing bracket */
